{% extends 'base.html' %}
{% block content %}
<div class="center">
<h3>МКС Tatem</h3>
<h5>МКС Tatem - это агрегат контент(площадка которая собирает информацию с других ресурсов) о МКС и NASA.</h5>
</div><h5><br>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://res.cloudinary.com/tatemmedia/image/upload/v1641548220/log1.jpg.jpg">
    </div>
  </div>
<br>
<div class="center">Вы получили возможность<br>
<b>1.</b> Узнать последние новости о космосе, МКС и NASA.<br>
<b>2.</b> Посмотреть с камер МКС (прямой эфир).<br>
<b>3.</b> Посмотреть и узнать про "картинку дня" от NASA.</h5>
</div>
<br><br>
<div class="center">
<a class="waves-effect waves-light btn-large blue" href="/menu">перейти в меню</a>
</div><br>
{% endblock %}
