{% extends 'base.html' %}
{% block content %}
<div class="center"><h3>Камеры МКС</h3>
<h5>Если тeмный экpaн значит Meждунapoднaя кocмичecкaя cтaнция (MKC) нaxoдитcя нa нoчнoй cтopoнe Зeмли.</h5>
<h4>Камера 1</h4>
<iframe loading="lazy" id="fdfghs" src="//www.ustream.tv/embed/17074538?html5ui=1&amp;autoplay=true&amp;volume=50&amp;forced-quality=high" allowfullscreen="" webkitallowfullscreen="" scrolling="no" frameborder="0" width="80%" style="border: 0 none transparent;"></iframe>
<h4>Камера 2</h4>
<iframe loading="lazy" id="fdfghs" src="//www.ustream.tv/embed/9408562?html5ui=1&amp;autoplay=true&amp;volume=50&amp;forced-quality=high" allowfullscreen="" webkitallowfullscreen="" scrolling="no" frameborder="0" width="80%" style="border: 0 none transparent;"></iframe>
</div>
{% endblock %}
